<% provide(:title, "Careers & Jobs &mdash; Tunetap".html_safe) %>
<%= render 'layouts/page_hero', tagline: "Come build something amazing" %>
<div class='row' id='workPhilosophy'>
	<div class='container'>
		<div class='span6'>
			<h2 class='BackHeader'>Our philosophy</h2>
			<p class='BackBlurb'>Work isn't about walking in to a cubicle and pushing papers all day. Work is being empowered to help build something extraordinary, where one person can make a difference that touches the lives of millions. We don't know if we'll succeed and reach all of our goals. But it would be a shame to not try and create something amazing.</p>
			<p class='BackBlurb'>Our team is at the intersection of passion and impact. We are passionate about <%= link_to "liberating human creativity", team_url(anchor: "mission") %>, and we know that building a sustainable, global business allows us to make the greatest impact. We work to build an incredibly successful business, knowing that profit can be reinvested to compound our contribution to the world.</p>
			<p class='BackBlurb'>We are craftsmen and creatives, designers and developers, with a focus on delivering delightful experiences to our users. We're driven by research and best practices, but more so by intuition and a deep understanding and appreciation of our mission.</p>
		</div>
		<div class='span5'>
			<%= image_tag("build.png", size: "400x300", alt: "Help us create something amazing", class: 'BackImage') %>
		</div>
	</div>
</div>
<div class='row' id='workDetails'>
	<div class='container'>
		<div class='span5 offset1'>
			<h2 class='BackHeader'>What we look for</h2>
			<h3 class='SectionHeader'>Passion</h3>
			<p class='BackBlurb'>You're driven by the desire to design, create, and make an impact on the world. You solve problems in your sleep and in the shower, and can't wait to implement your solution.</p>
			<h3 class='SectionHeader'>Initiative</h3>
			<p class='BackBlurb'>You don't wait for someone to tell you what to do. You take on projects because they seem interesting, and you take pride in the finished product. You identify things that need to be done, and you own those tasks.</p>
			<h3 class='SectionHeader'>Maverick</h3>
			<p class='BackBlurb'>You challenge ideas, authority, and the status quo. You see solutions that others don't, you understand something that others don't, and you push yourself and your peers to discover more and achieve enlightenment.</p>
			<h3 class='SectionHeader'>Skill</h3>
			<p class='BackBlurb'>You know what you're doing. If you're a developer, you can build websites in your sleep. If you're a designer, you can design icons and UIs that bring joy to users. And if you're a devigner (developer-designer), then we'd love to get in touch!</p>
		</div>
		<div class='span5' id='workLocations'>
			<h2 class='BackHeader'>Our locations</h2>
			<p class='BackBlurb'>Our team members are located all around the country. We definitely support working remotely.</p>
			<p class='BackBlurb'>
				We have activity hubs at <br />
				<strong>Cornell&nbsp;University</strong> in <strong>Ithaca, New&nbsp;York</strong>,<br />
				<strong>Penn&nbsp;State</strong> in <strong>University&nbsp;Park, Pennsylvania</strong>,<br />
				as well as <br />
				<strong>High&nbsp;Point&nbsp;University</strong> in <strong>High Point, North Carolina</strong>.</p>
		</div>
	</div>
</div>
<div class='row' id='openPositions'>
	<div class='container'>
		<div class='span12'>
			<h2 class='BackHeader'>Open positions</h2>
			<div class='span4 CenterColumn'>
				<h3 class='SectionHeader'>Chief Technology Officer</h3>
				<p class='BodyBlurb'>The Chief Technology Officer is a fusion of technical ability and leadership prowess. The CTO will lead a team to develop, test, and maintain our web and mobile platforms. The CTO must be able to make product (front-end) and technical (back-end) decisions to best suit our users' technical capability and the needs of our business. This role is based in the United States.</p>
				<p class='HomeMore'><a href='#devDetails' data-toggle='modal'>Apply</a></p>
			</div>
			<div class='span4 CenterColumn'>
				<h3 class='SectionHeader'>Design lead</h3>
				<p class='BodyBlurb'>The Design Lead is a fusion of visual design and implementation with an emphasis on delivering a stunning user experience. The Design Lead will work with our CEO to design the product vision, and alongside our CTO and developers to build the product. The Design Lead must be able to decide when to incorporate user feedback, and to do so in a way that increases the value of our product.</p>
				<p class='HomeMore'><a href='#uxDetails' data-toggle='modal'>Apply</a></p>
			</div>
			<div class='span4 CenterColumn'>
				<h3 class='SectionHeader'>Customer development agent</h3>
				<p class='BodyBlurb'>Customer development is a process that spans from customer acquisition to continued support as they use our product. You'll help create our marketing and sales strategy, talk to customers, and respond to support requests to create a great user experience. You'll also act as a liason between users and our product team.</p>
				<p class='HomeMore'><a href='#custdevDetails' data-toggle='modal'>Apply</a></p>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/job_specs', pop_id: 'devDetails', header_label: 'devDetailsLabel', job_title: 'Chief Technology Officer', job_responsibilities: [
			'Design and shape product vision alongside CEO',
			'Establish and enforce timelines and budgets along with founders',
			'Lead developers and designers, and work alongside them, to build and test product',
			'Ensure consistency of experience for users and as much uptime as possible',
			'Recruit developer and designer talent, as needed',
			'Develop and maintain internal tools for team operations and business functions'
	], job_reqs: [ 
			'Fluent in modern web technologies, including HTML5, CSS3, and Javascript',
			'Experience with Rails, native iOS, ANdroid, Windows, and OS X &mdash; the more, the better!',
			'Drive and ability to learn, explore, and use new technologies',
			'Familiarity with git (Github) and coding in a team environment',
			'A drive to create great user experiences and an eye for detail',
			'Ability to use available data to make decisions, or to gather more data to make decisions'
], job_desirables: [ 
			"Strong background in computer science or information science", 
			'Internship or experience designing and building intuitive UIs with an emphasis on UX',
			'Ability to understand and develop user metrics and analytics',
			'Experience designing and building data visualization for metrics and audio'
], file_link: 'tunetap-cto.pdf' %>

<%= render 'layouts/job_specs', pop_id: 'uxDetails', header_label: 'uxDetailsLabel', job_title: 'Design lead', job_responsibilities: [
			'Design product alongside CEO',
			'Translate vision into clear design specs for developers',
			'Delight our users with intuitive, engaging user interfaces',
			'Ensure consistency of experience for users across web, mobile, and desktop',
			'Recruit designer and developer talent, as needed'
	], job_reqs: [
			'Internship or experience designing and building intuitive UIs with an emphasis on UX',
			'Ability to translate goals into action steps',
			'An eye for detail and an intuition for usable design',
			'Experience with graphic design and Adobe Illustrator',
			'Capable of rendering mockups in HTML and CSS'
], job_desirables: [
			'Background in computer science or information science',
			'Experience with Javascript or Rails',
			'Interest or experience in data and audio visualization',
			'Comfortable analyzing user metrics and conducting usability studies',
			'Interest in typography, psychology, music, or cultural diversity'
], file_link: 'tunetap-dl.pdf' %>

<%= render 'layouts/job_specs', pop_id: 'custdevDetails', header_label: 'custdevDetailsLabel', job_title: 'Customer development agent', job_reqs: [
			"A desire to make users happy and provide excellent service",
			"Ability to describe ideas to users and receive accurate feedback",
			"Understanding of how our users work and what they want to accomplish",
			"Understanding of the process of designing something new, from concept to implementation and user feedback",
			"Able to switch contexts, from answering support emails to writing feature specs and being a part of team strategy meetings",
			"Strong written and verbal communication skills"
], job_desirables: [
			"An intuition for usable design and an eye for detail",
			"Graphic design experience, including the ability to draw wireframes and create UI elements and mockups",
			"Familiar with HTML, CSS, and Javascript (jQuery)",
			"Enjoy the latest advances in HTML5 and CSS3",
			"Experience designing and implementing a marketing plan",
			"Experience making sales to users and companies",
			"Experience developing and understanding user metrics and analytics, and conducting usability studies",
			"Interest in typography, psychology, music, and cultural diversity"
] %>
<%= render 'layouts/footer' %>