<% provide(:title, "nepTune — Team") %>
<%= render 'layouts/page_hero', tagline: "Liberate human creativity" %>
<div class='row' id='team'>
	<div class='container'>
		<div class='span10 offset1' id='teamBlock'>
			<h2 class='BackHeader'>Our team</h2>
			<div id='gridBlock'>
				<ul class='IconGrid' id='teamGrid'>
					<%= render 'layouts/image_grid_unit', pop_text: "Feifan Zhou is pursuing a B.S. in Computer Science and Entrepreneurship at Cornell University. He's built websites and iOS apps as a freelance developer, but has always wanted to help shape the future of the world.", img_name: 'team_feifan.png', alt_text: 'Feifan Zhou' %>
					<%= render 'layouts/image_grid_unit', pop_text: "Robert Robertson is pursuing a B.A. in Music and Entrepreneurship at High Point University. He is passionate about developing a global creative economy.", img_name: 'team_bobby.jpg', alt_text: 'Robert C. Robertson III' %>
					<%= render 'layouts/image_grid_unit', pop_text: "Andrea Fiorentini is pursuing a B.A. in Performing and Media Arts at Cornell University. She aspires to foster a more emotionally engaging and thought provoking relationship between the artist and their listeners by showcasing the human element contained within music.", img_name: 'team_andy.jpg', alt_text: 'Andrea Fiorentini' %>
					<%= render 'layouts/image_grid_unit', pop_text: "Pierre Karashchuk is going for a B.A. in Computer Science and Statistics at UC Berkeley, resolved to keep pushing technology forward. He loves to watch complex systems emerge from basic rules and hopes to see this happen in nepTune.", img_name: 'team_pierre.jpg', alt_text: 'Pierre Karashchuk' %>
					<%= render 'layouts/image_grid_unit', pop_text: "I joined the nepTune bandwagon at Startup Weekend Cape Cod 2012. I was going to work on another project but Bobby and Feifan approached me with such enthusiasm and dedication for their project, I had no choice but to help and become part of such a wonderful team. I'm proud to call everybody here my team members, and together something amazing WILL happen.", img_name: 'team_drew.png', alt_text: 'Drew Toma' %>
					<%= render 'layouts/image_grid_unit', pop_text: "Profiles for the rest of our team coming soon.", img_name: 'team_more.png', alt_text: "Profiles for the rest of our team coming soon" %>
				</ul>
			</div>
			<p class='BackBlurb' id='joinTeam'>If you're interested in joining our team and making a mark on the world, check out our <%= link_to "careers page", jobs_url %>.</p>
		</div>
	</div>
</div>
<div class='row' id='mission'>
	<div class='container'>
		<div class='span7 offset5'>
			<h2 class='BackHeader'>Our mission</h2>
			<p class='BackBlurb'>Humans are not machines. We live, breathe, and come up with innovative new ideas and incredible works of art. But too often our environment stifles our ability to do great things. Tradition, regulation, and excessive commercialization have slowed the rate of progress in our world.</p>
			<p class='BackBlurb'>nepTune's mission is to liberate human creativity. We're creating a world where people want to push boundaries. We're bringing people together from all over the world, so that great creations are shared with a global audience.</p>
			<p class='BackBlurb'>We start with music because it's a creative field ravaged by bureaucracy and generic content. Music is an art that touches everyone, and for centuries, it evolved through many different styles. Musicians dared to push boundaries and experiment with new sounds. But now we find music that is manufactured to be catchy, to generate the most sales. We think this is wrong, and that music is broken. Instead, we want to bring the art back into music. We want to bring artists back into communities &mdash; communities that stretch across our planet. It's an incredible first step into the future of the creative world.</p>
			<p class='BackBlurb'>At nepTune, we envision a world where people are able to explore, create, and make a career out of it. We envision a world where people can discover and enjoy great music from around the globe, a world where artists deserve to make a living from the work. We envision a world where people have the freedom to do great things.</p>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
