<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='container'>
  <%= render 'layouts/artist_sidebar', artist: @artist, curr_nav: 1, is_band_member: @is_band_member, is_editing: @is_editing, is_following: @is_following %>
  <div class='DJAX XHidden' id='artistPageContent'>
    <div id='sliderContainer'>
      <%= render 'layouts/about_gallery', artist: @artist, is_editing: @is_editing %>
    </div>
    <div class='row' id='aboutBody'>
      <div class='span8' id='aboutStory'>
        <h2>Our Story</h2>
        <p class='ArtistStory' <%= 'contenteditable' if @is_editing %>><%= @artist.story %><%= 'Click to edit' if @artist.story.blank? and @is_editing %></p>
      </div>
      <div class='span4' id='aboutContact'>
        <h2>Contact</h2>
        <p class='ContactText' id='phone' <%= 'contenteditable' if @is_editing %>><%= @contact_info.phone %><%= 'Phone number' if @contact_info.phone.blank? and @is_editing %></p>
        <p class='ContactText' id='email' <%= 'contenteditable' if @is_editing %>><%= @contact_info.email %><%= 'Email address' if @contact_info.email.blank? and @is_editing %></p>
      </div>
    </div>
    <div class='row' id='artistGraph'>
      <div class='span6' id='artistFollowing'>
        <h2>Following</h2>
        <%= render 'layouts/following', entity: @artist %>
      </div>
      <div class='span6' id='artistInfluences'>
        <h2>Influences</h2>
        <%= render 'layouts/influences', artist: @artist %>
      </div>
    </div>
  </div>
</div>