<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='container'>
  <%= render 'layouts/artist_sidebar', artist: @artist, curr_nav: 4, is_band_member:            
      @is_band_member, is_editing: @is_editing, is_following: @is_following %>
  <div class='DJAX XHidden' id='artistPageContent'>
  	<div class='row' id='burbleBody'>
      <div class='span8'>
          <% if !@user.blank? %>
            <%= render 'layouts/comment_box', reply_id: nil, commentable: @artist %>
          <% end %>
        <button id="refresh_comments">
          Refresh comments
        </button>
        <div id="all_comments" data-type="Artist" data-id='<%= @artist.id %>'>
          <%= render 'layouts/all_comments', comments: @comments, replyable: !@user.blank? %>
        </div>
      </div>
      <% if false %>
      <div id='partialsTest'>
        <% Comment.all.each do |c| %>
        <%= render 'shared/comment_base', context: 'artist', comment: c %>
        <% end %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>

