<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='artistPageContainer'>
  <%= render 'layouts/artist_sidebar' %>
  <div class='XHidden' id='artistPageContent'>
    <div id='musicGridHeader'>
      <%= image_tag("piano_guys_promo.jpg", alt: "The Piano Guys", size: "960x320", class: "MusicGridHeaderImage") %>
      <div id='musicGridFilter'>
        <ul class="FilterBarItems">
          <li class='FilterItem SelectedFilter' id='filterAll' onclick='filterMusic(0)'>All</li>
          <li class='FilterItem' id='filterSongs' onclick='filterMusic(1)'>Songs</li>
          <li class='FilterItem' id='filterAlbums' onclick='filterMusic(2)'>Albums</li>
          <li class='FilterItem' id='filterVideos' onclick='filterMusic(3)'>Videos</li>
          <li class='FilterItem' id='filterOthers' onclick='filterMusic(4)'>Others</li>
        </ul>
        <form id='musicFilterSearch'>
          <input type='text' id='musicFilterSearchField' placeholder='Search' />
        </form>
      </div>
    </div>

    <div id='musicGridContainer'>
      <div id='musicGrid'>
        <!-- TODO: Load filter content with AJAX -->
        <%= render 'layouts/music_grid_group', title: 'Albums', group_id: 'musicGridAlbums', items: @user.albums, label_icon: '&#59405;'.html_safe %>
        
        <%= render 'layouts/music_grid_group', title: 'Songs', group_id: 'musicGridSongs', items: @user.songs, label_icon: '&#59406;'.html_safe %>

        <div id='noFilterMatches'>
          <p>Nothing matches that filter</p>
        </div>
      </div>
      <div id='musicDetailsHeader'>
        <span class='InlineNavigation' id='detailsHeaderBack' onclick='returnToMusicGrid()'>&#59399;</span>
        <span class='GridItemIcon' id='itemIcon'></span>
        <p id='detailsHeaderTitle'></p>
      </div>

      <div id='musicDetails'>
        <div id='musicDetailsContent'>
        </div>
      </div>
    </div>
  </div>
</div>