<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='artistPageContainer'>
  <%= render 'layouts/artist_sidebar' %>
  <div id='artistPageContent'>
    <div id='musicGridHeader'>
      <%= image_tag("piano_guys_promo.jpg", alt: "The Piano Guys", size: "960x320", class: "MusicGridHeaderImage") %>
      <div id='musicGridFilter'>
        <ul class="FilterBarItems">
          <li class='FilterItem SelectedFilter' id='filterAll' onclick='filterMusic(0)'>All</li>
          <li class='FilterItem' id='filterSongs' onclick='filterMusic(1)'>Songs</li>
          <li class='FilterItem' id='filterAlbums' onclick='filterMusic(2)'>Albums</li>
          <li class='FilterItem' id='filterVideos' onclick='filterMusic(3)'>Videos</li>
          <li class='FilterItem' id='filterOthers' onclick='filterMusic(4)'>Others</li>
        </ul>
        <form id='musicFilterSearch'>
          <input type='text' id='musicFilterSearchField' placeholder='Search' />
        </form>
      </div>
    </div>

    <div id='musicGrid'>
      <!-- TODO: Load filter content with AJAX -->
      <%= render 'layouts/music_grid_group', title: 'Albums', group_id: 'musicGridAlbums', items: @user.albums %>
      
      <%= render 'layouts/music_grid_group', title: 'Songs', group_id: 'musicGridSongs', items: @user.songs %>

      <div id='noFilterMatches'>
        <p>Nothing matches that filter</p>
      </div>
    </div>
    
    <script type="text/javascript">
      /* $(function() {
        $("#musicGrid").masonry({
          itemSelector: '.GridItem',
          columnWidth: floor($('#musicGrid').width() * 0.20)
        })
      }) */
    </script>
    <script type="text/javascript">
      var elm = $("#artistSidebar");

      $(elm).scroll(function() {
          if (elm.scrollTop() > 15)
            $("#sidebarShadowTop").fadeTo(1.0, 1.0);
          else
            $("#sidebarShadowTop").fadeTo(1.0, 0.0);

          if (elm.innerHeight() + elm.scrollTop() > (elm.scrollHeight - 5))
            $("#sidebarShadowBottom").fadeTo(1.0, 0.0);
          else
            $("#sidebarShadowBottom").fadeTo(1.0, 1.0);
      });
    </script>
    <script type="text/javascript">
      function filterMusic(tag) {
        $(".FilterItem").each(function() {
          $(this).removeClass('SelectedFilter');
        });
        $(".MusicGridGroupHeader").each(function() {
          $(this).css('display', 'none');
        });
        $("#noFilterMatches").css('display', 'none');
        switch (tag) {
          case 0:
            $(".MusicGridGroupHeader").each(function() {
              $(this).css('display', 'block');
            })
            $("#filterAll").addClass('SelectedFilter');
            $("#musicGridAlbums").css('display', 'block');
            $("#musicGridSongs").css('display', 'block');
            $("#noFilterMatches").css('display', 'none');
            break;
          case 1:
            $("#filterSongs").addClass('SelectedFilter');
            $("#musicGridAlbums").css('display', 'none');
            $("#musicGridSongs").css('display', 'block');
            break;
          case 2:
            $("#filterAlbums").addClass('SelectedFilter');
            $("#musicGridAlbums").css('display', 'block');
            $("#musicGridSongs").css('display', 'none');
            $("#noFilterMatches").css('display', 'none');
            break;
          case 3:
          case 4:
          default:
            $("#musicGridAlbums").css('display', 'none');
            $("#musicGridSongs").css('display', 'none');
            $("#noFilterMatches").css('display', 'block');
            break;
        }
      }
    </script>
  </div>
</div>