<% level ||= 0 %>
<div class="CommentContainer CommentLevel<%= level %>" >

  <% if false %>
  <div class='CommenterInfo'>
    <%= image_tag(comment.user.avatar.url, size: "60x60",
        alt: comment.user.display_name, class: 'CommenterImage') %>
    <h2 class='CommenterName'><%= comment.user.display_name %></h2>
    
    <div class='CommentActions'>
      <ul>
        <li>Reply</li>
        <li>Share</li>
      </ul>
    </div>
  </div>
  <% end %>


  <div class='CommentContent'>
    <div class='CommentHeader'>
      <div class='CommenterImage'>
        <%= image_tag(comment.user.avatar.url, size: "25x25",
            alt: comment.user.display_name, class: 'CommenterImage') %>
      </div>
      <div class='CommentNameTime'>
        <div class='CommenterName'><%= comment.user.display_name %></div>
        <div class='CommentTime'>
          <%= distance_of_time_in_words_to_now(comment.created_at)+" ago" %>
        </div>
      </div>


      <span class='CommentActions'>
        <ul>
          <li>
            <a href='javascript:void(0)' onclick="reply_to(this)">reply</a>
          </li>
        </ul>
      </span>
      <% if comment.rating %>
      <span class='CommentRating'>
        Rating:
        <span class='CommentRatingNumber'>
          <%= comment.rating %>
        </span>
      </span>
      <% end %>

    </div>
    <span class='CommentText'><%= simple_format comment.text %></span>
    <% if false #!comment.commentings.blank? %>
    <% commenting_name = comment.commentings.first.commentable_type.underscore # A comment can
       only contain one type of media %>
    <% partial_name = "comment_media_#{ commenting_name }" %>
    <div class="CommentMediaContainer Comment<%= commenting_name %>Container">
      <% comment.commentings.each do |c| %>
      <% if (defined? context) && context != commenting_name %>
      <%= render "shared/#{ partial_name }", element: c %>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="Reply" style="display:none;">
    <%= render 'layouts/comment_box', reply_id: comment.id, commentable: nil %>
  </div>
  <% comment.sorted_children.each do |r| %>
  <%= render 'shared/comment_base', comment: r, level: (level + 1) %>
  <% end %>
</div>
