<% level ||= 0 %>
<div class="CommentContainer CommentLevel<%= level %>" >

  <div class='CommentContent'>
    <div class='CommenterImage'>
      <%= image_tag(comment.user.avatar.url, size: "26x26",
          alt: comment.user.display_name, class: 'CommenterImage') %>
    </div>

    <div class='CommentStuff'>
      <div class='CommentHeader'>
        <span class='CommenterName'><%= comment.user.display_name %></span>
        <span class='CommentTime'><%= distance_of_time_in_words_to_now(comment.created_at)+" ago" %></span>
      </div>
      <div class='CommentText'><%= simple_format comment.text %></div>

      <% if comment.rating %>
      <div class='CommentRating'>
        <span class='RatingLabel'>Rating:</span>
        <span class='CommentRatingNumber'>
          <%= comment.rating %>
        </span>
      </div>
      <% end %>

      <div class='CommentActions'>
        <ul>
          <% if level != 0 %>
            <li><a href='javascript:void(0)' onclick="reply_to(this)">reply</a></li>
          <% end %>
          <% if !comment.children.blank? %>
            <% if level != 0 %>
              <span class='ListSeparator'>&bull;</span>
            <% end %>
            <li><a class='CommentActionCollapse'>hide replies</a><a class='CommentActionUncollapse'>show replies</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <% if false #!comment.commentings.blank? %>
    <% commenting_name = comment.commentings.first.commentable_type.underscore # A comment can only contain one type of media %>
    <% partial_name = "comment_media_#{ commenting_name }" %>
    <div class="CommentMediaContainer Comment<%= commenting_name %>Container">
      <% comment.commentings.each do |c| %>
      <% if (defined? context) && context != commenting_name %>
      <%= render "shared/#{ partial_name }", element: c %>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <% if replyable %>
  <div class="CommentReply <%= 'Hidden' if level != 0 %>">
    <%= form_for Comment.new, html: { id: '', class: 'CommentReplyForm' } do |f| %>
      <%= f.hidden_field :comment_id, value: comment.id %>
      <%= f.text_field :text, class: 'CommentReplyField', placeholder: "Reply to #{ comment.user.fname }" %>
    <% end %>
  </div>
  <% end %>

  <% comment.sorted_children.each do |r| %>
  <%= render 'shared/comment_base', comment: r, level: (level + 1), replyable: replyable %>
  <% end %>
</div>  