<%= render 'shared/error_messages' %>
<% @user = User.new %>
<%= form_for(@user) do |f| %>
	
	<%= f.label :fname %>
	<%= f.text_field :fname, placeholder: "First name" %>
	
	<%= f.label :lname %>
	<%= f.text_field :lname, placeholder: "Last name" %>
	
	<br />
	
	<%= f.label :email %>
	<%= f.email_field :email, placeholder: "Email address" %>

	<div id='signupChecks'>
		<span id='artistCheck' data-placement='top' data-trigger='hover' data-title="If you make music, check this box">
			<%= f.label :isArtist %>
			<%= f.check_box :isArtist %>
			<% if (defined?(is_home_page) && is_home_page) %>
				<span class='CheckboxLabel CheckboxLabelHome'>I'm an artist</span>
			<% else %>
				<span class='CheckboxLabel'>I'm an artist</span>
			<% end %>
		</span>
		<span id='betaTestCheck'>
			<%= f.label :willingToBetaTest %>
			<% if (defined?(wants_to_beta_test) && wants_to_beta_test) %>
				<%= f.check_box :willingToBetaTest, checked: true %>
			<% else %>
				<%= f.check_box :willingToBetaTest %>
			<% end %>
			<% if (defined?(is_home_page) && is_home_page) %>
				<span class='CheckboxLabel CheckboxLabelHome'>I want to beta test</span>
			<% else %>
				<span class='CheckboxLabel'>I want to beta test</span>
			<% end %>
		</span>
	</div>
	
	<br />
	
	<%= f.submit "Join", class: "btn btn-large btn-primary", id: "joinButton" %>
<% end %>