<% is_small ||= false %>
<% is_thin ||= false %>
<div class="SongControls <%= 'SongControlsSmall' if is_small %> <%= 'SongControlsThin' if is_thin %>" id="songControls<%= song.id %>">
  <div class='PlayPause'>
  <span class='Icon PlayIcon'
      data-url='<%= escape_data_url song.audio.path %>'
      data-name='<%= CGI::escape_html song.name %>'
      onclick="playThis(this, <%= song.id %>)">
    &#59416;
  </span>
  <span class='Icon PauseIcon' onclick="togglePause()">&#59417;</span>
  </div>
</div>