<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>

<div id='eventPageContainer'>
	<div id='attendeesListBar'>
	<%= render 'layouts/attendees_list', event: @event %>
	</div>

	<div id='eventInfo'>
		<div id='eventHeader'>
			<%= image_tag 'concert.jpg', size: '960x360' %>
			<div id='eventBasicInfo'>
				<p id='eventName' <%= 'contenteditable' if @is_editing %>><%= @event.name %></p>
				<p id='eventLoc'><span id='when'><%= @date_string %></span> &bull; <span id='location' <%= 'contenteditable' if @is_editing %>><%= @event.location %></span></p>
				<div id='eventResponse'>
					<!-- TODO: Include current user id in link path -->
					<!-- TODO: Check current user's status, and change button status accordingly (may set status in :invited rather than :going or :maybe) -->
					<%= link_to join_event_path(@event, status: :going), remote: true, data: { status: 'going' }, class: 'EventStatusTrigger' do %>
					<span class='EventResponseAction' id='eventGoing'>Going</span>
					<% end %>
					<%= link_to join_event_path(@event, status: :maybe), remote: true, data: { status: 'maybe' }, class: 'EventStatusTrigger' do %>
					<span class='EventResponseAction' id='eventMaybe'>Maybe</span>
					<% end %>
				</div>
			</div>
		</div>
		<p>Event Info</p>
	</div>

	<div id='eventActions'>
		<p>Actions</p>
	</div>
</div>