<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div class='row' id='newSongContainer'>
	<div class='alert' id='newSongFeedback'>Song created successfully</div>
	<div id='newSong'>
		<div id='newSongPreview'>
			<div id='albumImageDarken'></div>
			<p class='Icon' id='changeAlbumImageSpinner'>&#59392;</p>
			<img class='NewSongArt' src='https://dl.dropboxusercontent.com/u/7828009/nepTuneTest/pg1.jpg' />
			<div id='changeAlbumArt'>Click to change picture</div>
		</div>
		<div id='newSongDetails'>
			<%= form_for @song, remote: true do |s| %>
				<input type='hidden' name='artistname' id='artistname' />
				<%= s.label :name %>
				<%= s.text_field :name, placeholder: 'Song name', required: 'required', autocomplete: :off %><br />

				<%= s.label :album %>
				<%= s.text_field :album, placeholder: 'Album name', required: 'required', autocomplete: :off %>

				<input type='hidden' name='song[album_art_id]' id='song_album_art_id' />

				<%= s.label :track_number %>
				<%= s.text_field :track_number, placeholder: 'Track number', autocomplete: :off %><br />

				<%= s.submit 'Upload song', class: 'btn btn-primary', id: 'submit_song' %>
			<% end %>
			<%= form_for Image.new(), html: { target: 'album_target' } do |i| %>
				<%= i.file_field :file %>
			<% end %>
			<iframe id='album_target' name='album_target' src=''></iframe>
			<ul id='albumSuggestions'></ul>
		</div>
	</div>
</div>