<header>
	<%= render 'layouts/app_header' %>
	<%= render 'layouts/playbar' %>
</header>
<div class='row-fluid' id='newAlbumContainer'>
	<div class='span4' id='newAlbumInfo'>
		<div id='albumArt'>
			<img src='/images/album_default.png' alt='Default album' id='album_art' />
			<div id='albumArtDarken'></div>
			<p class='Icon' id='changeAlbumImageSpinner'>&#59392;</p>
			<div id='albumArtPrompt'>Click to change album art</div>
		</div>
		<%= form_for Image.new(), html: { target: 'album_target' } do |i| %>
			<%= i.file_field :file %>
		<% end %>
		<iframe id='album_target' name='album_target' src=''></iframe>
		<div class='alert' id='newAlbumFeedback'>Album saved successfully</div>
		<%= form_for @album, remote: true do |a| %>
			<input type='hidden' name='album[art_id]' id='album_art_id' />
			<input type='hidden' name='album[artistname]' id='artistname' />

			<%= a.label :name %>
			<%= a.text_field :name, placeholder: 'Album name', required: 'required', autocomplete: :off %>

			<%= a.label :year %>
			<%= a.text_field :year, placeholder: 'Album year', required: 'required', autocomplete: :off %><br />

			<%= a.submit 'Save album', class: 'btn btn-primary', id: 'saveAlbumButton' %>
		<% end %>
	</div>
	<div class='span8' id='newAlbumSongs'>
		<div id='song'><img src='/images/song_default.png' /></div>
	</div>
</div>