<div class='LoginContainer' id='loginContainer'>
	<%= link_to image_tag('logo.png', size:"259x50", id:'headerLogo', alt:'nepTune'), root_url(subdomain: "www") %>	
	<div class='Login' id='login'>
		<p class='BackBlurb' id='enterPasswordPrompt'>Enter your email and we'll send you a replacement password.</p>
		
		<% if !(@reset_error.blank?) %>
			<div class='alert alert-error' id='loginError'>
				<%= @reset_error %>
			</div>
		<% end %>
		
		<%= form_for(:login, url: resetpw_path, method: "get", html: { id: 'pwHelpForm' }) do |f| %>			
			<%= f.label :email%>
			<%= f.email_field :email, placeholder: "Email address" %>
	
			<%= f.submit "Reset password", class: "btn btn-large btn-primary", id: 'resetPasswordButton' %>
		<% end %>
		<p class='Subtext' id='backToLogin'><%= link_to "Back to login", login_path %></p>
	</div>
</div>
<%= render 'layouts/footer', footer_id: "appFooter" %>
