<%= link_to '#' do %><div class='Icon SliderNav SliderNavDisabled' id='sliderNavLeft'>&#59399;</div><% end %>
<div class='Slider' id='slider'>
	<% gallery_index = 0 %>
	<% artist.media_for_location(:AboutGallery).each do |m| %>
	<div class="SliderElement <%= 'SliderElementCurrent' if gallery_index == 0 %>" id="gallery<%= gallery_index %>">
		<% if is_editing %>
		<div class='SliderElementRemoveOverlay'>
			<span class='Icon SliderElementRemove' id="remove<%= gallery_index %>" data-media-id="<%= m.id %>">&#59407;</span>
		</div>
		<% end %>
		<h2 class="SliderTitle <%= 'NoblockTitle' unless is_editing %>">
			<p class='<%= "TitleTextEdit" if is_editing %>' <%= 'contenteditable' if is_editing %> data-media-id="<%= m.id %>"><%= m.name %></p>
			<% if is_editing %>
			<p class='ClickToEdit'>Click on caption to edit</p>
			<% end %>
		</h2>
		<%= m.show_html %>
	</div>
	<% gallery_index += 1 %>
	<% end %>
</div>
<%= link_to '#' do %><div class='Icon SliderNav' id='sliderNavRight'>&#59401;</div><% end %>