<div id='performers'>
  <h1>Performers</h1>
  <ul class='AttendeeList' id='performersList'>
    <% event.performers.each do |p| %>
    <li id="performer<%= p.id %>"><%= image_tag 'team_bobby.jpg', size: '30x30', class: 'AttendeePhoto' %><p class='AttendeeName'><%= p.display_name %></p></li>
    <% end %>
  </ul>
</div>
<div id='going'>
  <h1>Going</h1>
  <ul class='AttendeeList' id='goingList'>
    <% event.going.each do |p| %>
    <li id="attendeeUser<%= p.id %>"><%= image_tag 'team_bobby.jpg', size: '30x30', class: 'AttendeePhoto' %><p class='AttendeeName'><%= p.fname %> <%= p.lname %></p></li>
    <% end %>
  </ul>
</div>
<div id='maybe'>
  <h1>Maybe</h1>
  <ul class='AttendeeList' id='maybeList'>
    <% event.maybe_going.each do |p| %>
    <li id="attendeeUser<%= p.id %>"><%= image_tag 'team_bobby.jpg', size: '30x30', class: 'AttendeePhoto' %><p class='AttendeeName'><%= p.fname %> <%= p.lname %></p></li>
    <% end %>
  </ul>
</div>
<div id='invited'>
  <h1>Invited</h1>
  <ul class='AttendeeList' id='invitedList'>
    <% event.invited.each do |p| %>
    <li id="attendeeUser<%= p.id %>"><%= image_tag 'team_bobby.jpg', size: '30x30', class: 'AttendeePhoto' %><p class='AttendeeName'><%= p.fname %> <%= p.lname %></p></li>
    <% end %>
    <!-- Create li item for current user, so the user can join event -->
    <% if going_status == :none and !curr_user.blank? %>
      <li class='ReserveAttendee' id="attendeeUser<%= curr_user.id %>"><%= image_tag 'team_bobby.jpg', size: '30x30', class: 'AttendeePhoto' %><p class='AttendeeName'><%= curr_user.display_name %></p></li>
    <% end %>
  </ul>
</div>
<div id='invite'>
  <p id='invitePrompt'>Invite your followers</p>
</div>