<% if comment.parent %>
<% c = "Comment" %>
<% else %>
<% c = "Comment-toplevel Comment" %>
<% end %>
<%= "<div class='#{c}' data-id='#{comment.id}'>".html_safe %>
<div class="Comment-header">
  <div class="Username"> <%= comment.user.display_name %> </div>
  <div class="Time">
    <%= distance_of_time_in_words_to_now(comment.created_at)+" ago" %>
  </div>
</div>
<div class="Comment-text">
  <p>
    <%= comment.text %>
  </p>
</div>
<div class="Comment-footer">
  <!-- <a href='#'>permalink</a> -->
  <a href='javascript:void(0)' onclick="reply_to(this)">reply</a>
</div>
<div class="Reply" style="display:none;">
  <%= render 'layouts/comment_box', reply_id: comment.id, commentable: nil %>
</div>
<%= render 'layouts/all_comments',
    comments: comment.sorted_children %>
</div>
