<div class='Comment-form'>
  <%= form_for Comment.new, html: { id: '', class: 'NewCommentForm' } do |f| %>
    <%= f.hidden_field :comment_id, value: reply_id if reply_id%>
    <%= f.hidden_field :commentable_id, value: commentable.id if commentable %>
    <%= f.hidden_field :commentable_type, value: commentable.class.name if commentable %>
    <%= f.text_area :text, class: 'Autoresize', placeholder: 'Say something about this song' %> <br>
    <% if !commentable.blank? # Should also check if commentable supports rating %>
      <%= f.text_field :rating, placeholder: 'Rating (optional)' %>
  <% end %>
    <button class='btn btn-small' id="submitComment">Comment</button>
  <% end %>
</div>