<% if (defined?(footer_id)) %>
	<footer class='row' id='<%= footer_id %>'>
<% else %>
	<footer class='row'>
<% end %>
	<ul class='span2 offset2' id='footerProduct'>
		<li class='FooterColHeading'>Tunetap</li>
		<li><%= link_to "Marketplace", market_url %></li>
		<li><%= link_to "For artists", market_url(anchor: "artists") %></li>
		<li><%= link_to "For music lovers", market_url(anchor: "fans") %></li>
	</ul>
	<ul class='span2' id='footerAbout'>
		<li class='FooterColHeading'>About</li>
		<li><%= link_to "Our mission", team_url(anchor: "mission") %></li>
		<li><%= link_to "Our team", team_url %></li>
		<li><%= link_to "Press and news", news_url %></li>
	</ul>
	<ul class='span2' id='footerConnect'>
		<li class='FooterColHeading'>Connect</li>
		<li><%= link_to "Facebook", "http://fb.com/TunetapMusic" %></li>
		<li><%= link_to "Twitter", "http://www.twitter.com/TunetapMusic" %></li>
		<li><%= link_to "Careers", jobs_url %></li>
	</ul>
	<ul class='span2' id='footerSupport'>
		<li class='FooterColHeading'>Support</li>
		<li><%= link_to "Help and contact", contact_url %></li>
		<li><%= link_to "Beta access", beta_url %></li>
		<li><%= link_to "Terms", terms_url %></li>
	</ul>
	<%= link_to image_tag('logo.png', size:"259x50", id:'footerLogo', alt:'nepTune'), root_path %>
</footer>