<div class='MusicGridGroup' id='<%= group_id %>'>
	<h2 class='MusicGridGroupHeader'><span><%= title.upcase %></span></h2>
<% items.each do |a| %>
	<% if title == 'Albums' %>
		<% link_path = album_for_artist_path(username: params[:username], album: a.name, isPartial: 1) %>
	<% elsif title == 'Songs' %>
		<% link_path = song_for_artist_path(username: params[:username], song: a.id, isPartial: 1) %>
	<% else %>
		<% link_path = '#' %>
	<% end %>
	<%= link_to link_path, class: 'MediaDisplayLink', data: { name: a.name, icon: label_icon } do %>
	  <div class='GridItem'>
	    <%= image_tag("#{ a.image.path }", alt: a.image.caption) %>
	    <div class='GridItemDetails'>
	    	<p class='GridItemName'>
			  	<% if !label_icon.blank? %>
				  	<span class='GridItemIcon'><%= label_icon %></span>
				  <% end %>
		      <%= a.name %>
	    	</p>
	    </div>
	  </div>
	<% end %>
<% end %>
</div> 