<div class='MusicGridGroup' id='musicGrid<%= title %>'>
  <h2 class='MusicGridGroupHeader'><span><%= title.upcase %></span></h2>
<% items.each do |a| %>
  <% if title == 'Albums' %>
    <% link_path = album_for_artist_path(artist_route: params[:artist_route], album: a.name) %>
  <% elsif title == 'Songs' %>
    <% link_path = song_for_artist_path(artist_route: params[:artist_route], song: a.id) %>
  <% else %>
    <% link_path = '#' %>
  <% end %>
    <div class='GridItem' data-path='<%= link_path %>' data-id='<%= a.id %>'>
      <%= image_tag("#{ a.image.path }", alt: a.image.caption, size: '220x220') if a.image %>
      <div class='GridItemDetails'>
        <p class='GridItemName'>
          <% if !label_icon.blank? %>
            <span class='GridItemIcon'><%= label_icon %></span>
          <% end %>
          <%= a.name %>
        </p>
      </div>
    </div>
<% end %>
</div>  
  